@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary: #1e4173;
	--primary-light: #accdee;
	--primary-dark: #0f2c4b;
	--secondary: #c2834c;
	--secondary-light: #efd5be;
	--secondary-dark: #8e5f2d;
}

/* TODO dark mode? */
/* @media (prefers-color-scheme: dark) {
	:root {
	}
} */

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1152px) {
    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

	tbody,
	tr,
	td {
		display: block;
		width: 100%;
	}

    td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

	td:before {
		content: attr(data-label);
		font-weight: bold;
		padding-right: 8px;
	}

	tr:nth-child(odd) {
		background-color: #f9fafb;
	}

	tr:nth-child(even) {
		background-color: #efd5be;
	}

	tr {
		border-bottom: 2px solid #333;
	}

    th {
        display: none;
    }
}
